[submodule "odditem"]
	path = odditem
	url = git@github.com:somethingodd/odditem.git
[submodule "oddgive"]
	path = oddgive
	url = git@github.com:somethingodd/oddgive.git
[submodule "oddlight"]
	path = oddlight
	url = git@github.com:somethingodd/oddlight.git
[submodule "oddtransport"]
	path = oddtransport
	url = git@github.com:somethingodd/oddtransport.git
[submodule "oddshop"]
	path = oddshop
	url = git@github.com:somethingodd/oddshop.git
[submodule "stained"]
	path = stained
	url = git@github.com:somethingodd/stained.git
[submodule "common"]
	path = common
	url = git@github.com:somethingodd/common.git
[submodule "server"]
	path = server
	url = git@github.com:somethingodd/server.git
